{$HOSTNAME} {
	route /api* {
		uri strip_prefix /api
		reverse_proxy http://api:14702
	}

	route /ws {
		@upgrade {
			header Connection *Upgrade*
			header Upgrade websocket
		}

		uri strip_prefix /ws
		reverse_proxy @upgrade http://events:14703
	}

	route /autumn* {
		uri strip_prefix /autumn
		reverse_proxy http://autumn:14704
	}

	route /january* {
		uri strip_prefix /january
		reverse_proxy http://january:14705
	}

	reverse_proxy http://web:5000
}
